{$CADDY_GLOBAL_OPTIONS}

frankenphp {
{$FRANKENPHP_CONFIG}
}

{$CADDY_EXTRA_CONFIG}

# Site block for handling requests
localhost {
root /app/public
encode zstd br gzip

vulcain

{$CADDY_SERVER_EXTRA_DIRECTIVES}

# Disable Topics tracking if not enabled explicitly
header ?Permissions-Policy "browsing-topics=()"

@phpRoute {
not file {path}
}
rewrite @phpRoute index.php

@frontController path index.php
php_fastcgi unix//var/run/php/php8.3-fpm.sock # Adjust PHP version and socket path if necessary

file_server {
hide *.php
}
}